<body>
<!-- start padding container -->
<style>
    .actions a.dislike i {
        background: url(/assets/dislike_button.png) no-repeat scroll center center;
        background-size: 35px 35px;
        background-position-y: 17px;
    }
    .actions a.like i {
        background: url(/assets/like_button.png) no-repeat scroll center center;
        background-size: 35px 35px;
        background-position-y: 11px;
    }
/*    #tinderslide {

        position:relative;
    }
    #hideMe {
        -webkit-animation: cssAnimation 6s forwards; 
        animation: cssAnimation 6s forwards;
    }
    @keyframes cssAnimation {
        0%   {opacity: 1;}
        90%  {opacity: 1;}
        100% {opacity: 0;}
    }
    @-webkit-keyframes cssAnimation {
        0%   {opacity: 1;}
        90%  {opacity: 1;}
        100% {opacity: 0;}
    }*/
</style>
<div class="wrap">
  <!-- start jtinder container -->
  <div id="tinderslide">
   <ul>
      <% temp = 0 %>
      <% @images.each do |image| %>
        <% if temp % 4 != 0 %>
        <li class="pane<%= image.id % 5 + 1 %>" id="user_<%= image.user.id %>">
          <div class="img">
            <% if image.file.present?%>
                <%= image_tag image.file.url, class:'center-block', style:'align-content: center; background-size: cover; height: 400px;'%>
            <% else %>
                <%= image_tag image.link, class:'center-block', style:'align-content: center; background-size: cover; height: 400px;'%>
            <% end %>
          </div>
          <div style="font-size: 14px">
            <%= image.title %>
          </div>
          <br>
          <div style = "color: #ff288d;">
            <%= image.user.name %>
          </div>
          <div style="font-size: 16px; margin-top:5px;">
            <%= image.user.school.name %>
            　ー　あなたから<b><%= @distances[image.user.name]/1000 %>キロメートル</b>です
          </div>
        </li>
        <% else %>
        <% adver = @advertisements.shuffle.first %>
        <li class="pane<%= adver.id % 5 + 1 %>" id="hideMe">
          <div class="img">
            <%= link_to (image_tag adver.file, class:'center-block', style:'align-content: center; background-size: cover; height: 400px;'), adver.link, :target => "_blank" %>
          </div>
          <div style = "color: #aaa;">広告 : <%= adver.title %>
          </div>
          <div style="font-size: 14px">
            <%= adver.link %>
          </div>
        </li>
        <% end %>
        <% temp = temp +1  %>
      <% end %>
    </ul>
  </div>
  <!-- end jtinder container -->
</div>
<!-- end padding container -->

<!-- jTinder trigger by buttons  -->
<div class="actions">
  <a href="#" class="dislike"><i></i></a>
  <a href="#" class="like"><i></i></a>
</div>

<!-- jTinder status text  -->
<div id="status"></div>
</body>

<script type="text/javascript">
    $("#tinderslide").jTinder({

        onDislike: function (item) {
            //alert('Dislike image ' + (item.index()+1));
        },
        onLike: function (item) {
            var myId = $("#tinderslide > ul li").last().attr("id").split('_').pop();
            console.log("liked user" + myId);

            $.ajax({
                url: '/friendships',
                type: 'POST',
                data: {
                    friendship: {friend_id: myId}
                },
                success: function (data) {
                    console.log(data);
                    console.log("success");
                },
            });

        },
    });
    $('.actions .like, .actions .dislike').click(function(e){
        e.preventDefault();
        $("#tinderslide").jTinder($(this).attr('class'));
    });
</script>

