<body>
<style>
</style>
  <div class="wrap">
    <%# start jtinder slider%>
    <div id="tinderslide">
      	<ul>
		<% slide_id=0 %>
		<% @images.each do |image| %>
			<% 
				disliked = 0
				@disliked_image.each do |image_state|
					if image_state.friend_id == image.user.id and image_state.image_id == image.id
						disliked = 1
						break
					end
				end

				if disliked == 1
					next
				end
			%>

			<li class="pane<%= slide_id%>" data-image_id="<%= image.id %>" data-user_id="<%= image.user.id %>">
				<div class="img">
					<% if image.file.present?%>
						<%= image_tag image.file.url, class:'center-block', 
							style:'align-content: center; background-size: cover; height: 400px;'%>
					<% else %>
						<%= image_tag image.link, class:'center-block', 
							style:'align-content: center; background-size: cover; height: 400px;'%>
					<% end %>
				</div>
				
				<%# Image title + hashtag %>
				<div style="font-size: 14px">
					<%= image.title %>
				</div><br>

				<%# Username + University %>
				<div style = "color: #ff288d;">
					<%= image.user.name %>
				</div>
				<div style="font-size: 16px; margin-top:5px;">
					<%= image.user.school.name %>
					　ー　あなたから<b><%= @distances[image.user.name]/1000 %>キロメートル</b>です
				</div>
			</li>
			<% slide_id +=1 %>
		<% end %>
      	</ul>
    </div>

    <%# embed advert %>
    <div id="advert">
		<% @advertisements.each_with_index do |advert, advert_id| %>
			<div class="advert_pane<%=advert_id%>" style="display: none">
			<%= link_to (image_tag advert.file, class:'center-block'), 
				advert.link, :target => "_blank" %>
				<p>5秒間の広告を待つ。</p>
			</div>
		<% end %>
    </div>
  </div>

<%# Like + Dislike button %>
<div class="actions">
	<a href="#" class="back"><img src="/assets/back_button.png"></a>
	<a href="#" class="dislike"><i></i></a>
	<a href="#" class="like"><i></i></a>
	<a href="#" class="next"><img src="/assets/next_button.png"></a>
</div>

</body>
<script type="text/javascript">
	var advert_size = parseInt('<%=@advertisements.size%>');
	$("#tinderslide").jTinder({
		// ----------- Attributes -----------
		slide_size: parseInt('<%= (slide_id-1) %>'),
	
		slide_id: parseInt('<%= (slide_id-1) %>'),	// use to count from slide_size to 0
		current_slide: null, 
		user_id: null, 
		image_id: null,
	
		likeSelector: '.like',
		dislikeSelector: '.dislike',
		
		// ------------ Methods --------------
		onDislike: function (item) {
			// event drag slide is set on 'onDislike'
			this.current_slide = $(`.pane${this.slide_id}`);
			this.user_id = this.current_slide.data("user_id");
			this.image_id = this.current_slide.data("image_id");
			
			$.ajax({
				url: '/image_states',
				type: 'POST',
				data: {
					image_state: {friend_id: this.user_id ,image_id: this.image_id}
				},
				success: function (data) {
					console.log("Dislike or drag success");
					embedAdvert(this.slide_size, this.slide_id)
					this.slide_id--;
				},
			});
		},

		onLike: function (item) {
			this.current_slide = $(`.pane${this.slide_id}`);
			this.user_id = this.current_slide.data("user_id");			
			$.ajax({
				url: '/friendships',
				type: 'POST',
				data: {
					friendship: {friend_id: this.user_id}
				},
				success: function (data) {
					console.log("Like success");
					console.log(this.slide_id);
					embedAdvert(this.slide_size, this.slide_id)
					this.slide_id--;
				},
			});
		}
	});

	function embedAdvert (slide_size, slide_id) {
		console.log(slide_id)
		if ((slide_size - slide_id)%10 === 0) {
			addvert_rdn = Math.floor(Math.random() * advert_size);
			$('#tinderslide').css("display", "none");
			$('.actions').css("display", "none");
			$(`.advert_pane${addvert_rdn}`).css("display", "block");

			setTimeout(() => {
				$('#tinderslide').css("display", "block");
				$('.actions').css("display", "block");
				$(`.advert_pane${addvert_rdn}`).css("display", "none");
			}, 5000);
		}
	}

	// Switch (#tinderslide, .actions) && (.advert_pane)
	// Change display block to none, set Timeout to reverse 
	$('.actions .like, .actions .dislike').click(function(e){
		e.preventDefault();
		$("#tinderslide").jTinder($(this).attr('class'));
	});
	function jump_slide(id) {
		
	}

	$('.actions .back').click(function(e){
		e.preventDefault();
	});
</script>

