<body>
  <div class="wrap">
    <%# start jtinder slider%>
    <div id="tinderslide">
      	<ul>
		<% slide_id=0 %>
		<% @images.each do |image| %>
			<% 
				disliked = 0
				@disliked_image.each do |image_state|
					if image_state.friend_id == image.user.id and image_state.image_id == image.id
						disliked = 1
						break
					end
				end

				if disliked == 1
					next
				end
			%>

			<li class="pane<%= slide_id%>" data-image_id="<%= image.id %>" data-user_id="<%= image.user.id %>">
				<div class="img">
					<% if image.file.present?%>
						<%= image_tag image.file.url, class:'center-block', 
							style:'align-content: center; background-size: cover; height: 400px;'%>
					<% else %>
						<%= image_tag image.link, class:'center-block', 
							style:'align-content: center; background-size: cover; height: 400px;'%>
					<% end %>
				</div>
				
				<%# Image title + hashtag %>
				<div style="font-size: 14px">
					<%= image.title %>
					pane<%= slide_id%>
				</div><br>

				<%# Username + University %>
				<div style = "color: #ff288d;">
					<%= image.user.name %>
				</div>
				<div style="font-size: 16px; margin-top:5px;">
					<%= image.user.school.name %>
					　ー　あなたから<b><%= @distances[image.user.name]/1000 %>キロメートル</b>です
				</div>
			</li>
			<% slide_id +=1 %>
		<% end %>
      	</ul>
    </div>

    <%# embed advert %>
    <div id="advert">
		<% @advertisements.each_with_index do |advert, advert_id| %>
			<div class="advert_pane<%=advert_id%>" style="display: none">
			<%= link_to (image_tag advert.file, class:'center-block'), 
				advert.link, :target => "_blank" %>
				<p>5秒間の広告を待つ。</p>
			</div>
		<% end %>
    </div>
  </div>

<%# Like + Dislike button %>
<div class="actions">
	<a href="#" class="undo"><img src="/assets/back_button.png"></a>
	<a href="#" class="dislike"><i></i></a>
	<a href="#" class="like"><i></i></a>
</div>

</body>
<script type="text/javascript">
	$("#tinderslide").jTinder({
		// ----------- Attributes -----------
		advert_size: parseInt('<%=@advertisements.size%>'),
		count2advert: 0,
		current_slide: null, 
		user_id: null, 
		image_id: null,
	
		likeSelector: '.like',
		dislikeSelector: '.dislike',
		
		// ------------ Methods --------------
		onDislike: function (item) {
			// event drag slide is set on 'onDislike'
			this.current_slide = $(`.pane${item.index()}`);
			this.user_id = this.current_slide.data("user_id");
			this.image_id = this.current_slide.data("image_id");
			
			$.ajax({
				url: '/image_states',
				type: 'POST',
				data: {
					image_state: {friend_id: this.user_id ,image_id: this.image_id}
				},
				success: () => {
					console.log("Dislike or drag success");
					this.embedAdvert();
				},
			});
		},

		onLike: function (item) {
			this.current_slide = $(`.pane${item.index()}`);
			this.user_id = this.current_slide.data("user_id");			

			$.ajax({
				url: '/friendships',
				type: 'POST',
				data: {
					friendship: {friend_id: this.user_id}
				},
				success: () => {
					console.log("Like success");
					this.embedAdvert();
				},
			});
		},

		onUndo: function (item) {
			this.count2advert = -1	

			this.current_slide = $(`.pane${item.index()}`);
			this.user_id = this.current_slide.data("user_id");
			this.image_id = this.current_slide.data("image_id");
			
			console.log(this.user_id, this.image_id, item.index())
			$.ajax({
				url: '/image_states',	// handle destroy
				type: 'DELETE',
				data: {
					image_state: {friend_id: this.user_id ,image_id: this.image_id}
				},
				success: () => {
					console.log("Undo success");
					this.embedAdvert();
				},
			});
			this.embedAdvert();
		},

		embedAdvert: function () {
			this.count2advert++;
			if (this.count2advert%10 === 0) {
				addvert_rdn = Math.floor(Math.random() * this.advert_size);
				$('#tinderslide').css("display", "none");
				$('.actions').css("display", "none");
				$(`.advert_pane${addvert_rdn}`).css("display", "block");

				setTimeout(() => {
					$('#tinderslide').css("display", "block");
					$('.actions').css("display", "block");
					$(`.advert_pane${addvert_rdn}`).css("display", "none");
				}, 5000);
			}
		}
	});
	
	$('.actions .like, .actions .dislike, .actions .undo').click(function(e){
		e.preventDefault();
		$("#tinderslide").jTinder($(this).attr('class'));
	});
	




</script>

