<p id="notice"><%= notice %></p>

<h1>Image States</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_states.each do |image_state| %>
      <tr>
        <td><%= link_to 'Show', image_state %></td>
        <td><%= link_to 'Edit', edit_image_state_path(image_state) %></td>
        <td><%= link_to 'Destroy', image_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image State', new_image_state_path %>
