<%= form_for(image, {multipart: true}) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span><h3 class="active"> タイトル </h3></span>
  <div class="field">
    <%= form.text_field :title, class: "textIn" %>
  </div>
  
  <div class="field">
    <%= form.file_field :file %>
  </div>
  <img id="output"/>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
