<%= form_for(image, {multipart: true}) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "blank-img.jpg", class:'center-block', style:'align-content: center; width: 400px;', id: "img_prev" %>
      <%= form.file_field :file, id: "file-upload" %>
      <%= form.hidden_field :file_cache %>
    </div>
    <div class="col-md-8">
      <span><h3 class="active"> タイトル </h3></span>
      <%= form.text_field :title, class: "textIn" %>
    </div>

  </div>

  <img id="output"/>
  <div class="actions">
    <%= form.submit :投稿, class: 'btn btn-success' %>
  </div>
<% end %>
